@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  position: relative;
}

@font-face {
  font-family: pricesFont;
  src: url("/assets/ConsertaDemoRegular-2znv.ttf");
}

@font-face {
  font-family: headerFont;
  src: url("/assets/MerriweatherSans-VariableFont_wght.ttf");
}

@font-face {
  font-family: nameFont;
  src: url("/assets/Montserrat-Italic-VariableFont_wght.ttf");
}

:root {
  --brightness: 30%;
}

.cart {
  transition: all ease-out 1s;
}
.open {
  display: block;
}

.closed {
  display: none;
}

nav,
.heading {
  font-family: headerFont;
}

.price {
  font-family: pricesFont;
  font-weight: bold;
  font-size: 1.1rem;
}

.item-name {
  font-family: nameFont;
}

.hero-section {
  background: url("/assets/header-hero.jpg") no-repeat;
  background-size: 100% 100%;
  filter: brightness(var(--brightness));
}

.homepage {
  height: calc(100vh - 70px);
}

.float-button {
  animation: float 5s ease-in-out infinite;
}

@keyframes float {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
  50% {
    box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    transform: translatey(-30px);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
}

.pages {
  position: relative;
}

.pages::after {
  content: "";
  position: absolute;
  background-color: #164e63;
  height: 2px;
  width: 0;
  left: 0;
  bottom: -4px;
  transition: 0.3s;
}

@media screen and (min-width: 500px) {
  .pages::after {
    bottom: -10px;
  }
}

.pages:hover:after {
  width: 105%;
}

.dark .pages::after {
  background-color: #e5e7eb;
}
