@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --brightness: 30%;
}

.hero-section {
  background: url("../public/assets/header-hero.jpg") no-repeat;
  background-size: 100% 100%;
  filter: brightness(var(--brightness));
}

.homepage {
  height: calc(100vh - 70px);
}

.float-button {
  animation: float 5s ease-in-out infinite;
}

@keyframes float {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
  50% {
    box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    transform: translatey(-30px);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
}
